AWS_ACCESS_KEY_ID=placeholder_key
AWS_SECRET_ACCESS_KEY=placeholder_secret
AWS_REGION=us-east-1
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:notification-events
SQS_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/notification-queue
